/* Footer.module.css */
.footerSticky {
  margin-top: 0;
  color: #000;
  font-family: 'Fira Code', monospace;
  font-size: 0.7rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1b1e24;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.contactInfo p {
  margin: 0;
  color: white;
  font-size: 0.7rem;
}

.contactInfo a {
  color: white;
  text-decoration: none;
  position: relative;
  padding: 5px 10px;
  overflow: hidden;
  transition: color 0.3s ease;
}

.contactInfo a::before,
.contactInfo a::after {
  content: ' ';
  position: absolute;
  top: 50%;
  width: 0;
  height: 1px;
  background-color: white;
  transition: all 0.3s ease;
}

.contactInfo a::before {
  left: 0;
  transform: translateX(-100%) translateY(-50%);
}

.contactInfo a::after {
  right: 0;
  transform: translateX(100%) translateY(-50%);
}

.contactInfo a:hover::before,
.contactInfo a:hover::after {
  width: 10px;
  transform: translateY(-50%);
}

.contactInfo a:hover {
  color: #61dafb;
}

.footerBottom {
  color: white;
  text-align: right;
}

.footerBottom p {
  margin: 0;
}


@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .contactInfo {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .footerBottom {
    text-align: center;
  }
}