/* Header.module.css */
.headerStyle {
  background-color: #000000;
  /* Darker color for the header to mimic menu bar */
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* Align items to the start of the header */
  margin-bottom: 0;
  /* Remove any bottom margin */
  position: relative;
  /* Establish a positioning context */
}

.branding {
  text-shadow: 2px 2px 3px #61dafb;
  font-family: "Apple Chancery", sans-serif;
  margin-left: auto;
  /* Pushes the branding to the right */
  position: absolute;
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Offset the div to truly center it over the image */
  text-align: center;
}

.profilePhoto {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  /* Makes the image circular */
  margin-right: 20px;
  /* Spacing between the image and the branding text */
  border: 5px solid #61dafb;
  /* Optional: adds a border like syntax highlighting */
  margin-left: 2%;
}

/* Styles applied for all screen sizes */
.branding h3, .branding p {
  /* Set a larger font size for fullscreen */
  font-size: 3rem; /* Or any size that you prefer */
}

@media (max-width: 768px) {


 .pulsatingCircle {
      left: 50%; /* Center horizontally on mobile */
      top: 50%;
      transform: translate(-50%, -50%); /* Center both horizontally and vertically */
      width: 80%; /* Same width as the profile photo on mobile */
      height: auto; /* Maintain aspect ratio */
    }
  

  .headerStyle {
    justify-content: center; /* Center the items horizontally */
    /* Adjust padding to make space for the text, if needed */
    position: relative; /* Needed for absolute positioning of the children */
  }

  .branding {
    width: 100%; /* Full width of the header */
    /* Adjust font-size and other properties to fit the design */
  }

  /* Additional styles for text to ensure it fits and looks good over the image */
  .branding h3, .branding p {
    color: white;
    display: inline; /* Each on their own line */
    padding: 0.5em; /* Padding around the text */
    border-radius: 50%; /* Rounded corners for the background */
    margin: 0; /* Remove default margin */
    font-size: xx-large; /* Adjust font size as necessary */
    
  }

  .branding p {
    /* This targets only the paragraph which is "Web Developer" */
    position: absolute; /* Position it over the h1 */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Offset it to truly center it horizontally */
    width: max-content; /* Adjust the width to the content */
    margin-top: 2rem; /* Adjust this value to move "Web Developer" right below "John Hagens Portfolio" */

  }

  .branding {
    /* Position the branding container to overlap the image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Full width to allow centering of children */
    text-align: center; /* Center the text within the branding div */
    z-index: 2; /* Higher than the image to overlay on top of it */
    top: calc(50% + 35px); /* Adjust the vertical position as needed */
  }

  .branding h3 {
    /* Style for the name */
    margin: 0;

  }

  .profilePhoto {
    display: block; /* Ensure the image is a block-level element */
    margin: 0 auto; /* Auto margins on left and right to center the image */
    position: relative; /* To stack the branding on top */
  }

  .branding h3, .branding p {
    /* Override font size for mobile */
    font-size: 2rem; /* Adjust to the size appropriate for mobile */
    
  }
}

/* Add these styles to your Header.module.css */

.pulsatingCircle {
  position: absolute;
  right: 0; /* Adjust if needed */
  width: 350px; /* Same as your profile photo */
  height: 350px; /* Same as your profile photo */
  border-radius: 50%;
   z-index: 1; /* Ensure it's under the photo */
  margin-right: 4%;
  background-image: url('../assets/Image/brain.jpeg'); /* Path to your brain image */
  background-size: cover; /* Cover the entire area of the circle */
  background-position: center; /* Center the image within the circle */
  background-repeat: no-repeat; /* Do not repeat the image */
  box-shadow: 
  0 0 0 0 rgba(97, 218, 251, 0.7),
  0 0 0 0 rgba(97, 218, 251, 0.5),
  0 0 0 0 rgba(97, 218, 251, 0.3);
animation: pulse 2s infinite ease-out;
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 
      0 0 0 0 rgba(97, 218, 251, 0.7),
      0 0 0 0 rgba(97, 218, 251, 0.5),
      0 0 0 0 rgba(97, 218, 251, 0.3);
  }
  100% {
    box-shadow: 
      0 0 0 5px rgba(7, 8, 11, 0),
      0 0 0 7px rgba(8, 9, 31, 0),
      0 0 0 25px rgba(9, 18, 41, 0);
  }
}
