/* Project.module.css */
.projectItem {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.projectHeader h3 {
  text-align: center; /* Center the title text */
  margin: 0;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.projectHeader h3:hover {
  background-color: #f0f0f0;
}

.projectDetails {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  padding-bottom: 0;
  /* Remove padding from the bottom */
}

.projectItem.active .projectDetails {
  display: block;
}

.projectHeader .title {
  display: inline; /* Inline display for the title */
  margin: 0 5px; /* Add some space around the title */
}

.projectHeader .bracket {
  transition: transform 0.3s ease; /* Smooth transition for brackets */
  display: inline-block; /* Allows transform to work on span */
}

/* Hover effects */
.projectHeader h3:hover .bracket {
  transform: translateX(-10px); /* Move left bracket to the left */
  color: #61dafb;
}

.projectHeader h3:hover .bracket:last-of-type {
  transform: translateX(10px); /* Move right bracket to the right */
}

/* Update buttonContainer to remove the margin-top and adjust as needed */
.buttonContainer {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.button {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.subtitle {
  /* Style your subtitle here */
  margin: 0;
  padding-right: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.subtitleButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  /* Add some padding to the bottom */
  margin-bottom: 10px;
  /* Add some margin to the bottom */
  width: 70%;
  /* Set the width to 70% */
  margin-left: auto;
  /* Center the container */
  margin-right: auto;
  /* Center the container */
}

.description {
  margin-top: 0;
  /* Adjust space between description and the container above */
  padding: 0 10px;
  /* Same horizontal padding as the container above for alignment */
  width: 70%;
  /* Match the width of the container above */
  margin-left: auto;
  /* Center the description */
  margin-right: auto;
  /* Center the description */
  border-bottom: 1px dotted #ccc;
}

/* Add a media query to adjust the layout for mobile screens */
@media (max-width: 768px) {
  .subtitleButtonContainer {
    flex-direction: column; /* Stack elements vertically on mobile */
    align-items: flex-start; /* Align items to the left on mobile */
  }

  .description {
    width: 100%; /* Take full width on mobile */
  }
}