body {
  height: 95vh;
}

.headerstyle {
  height: 10vh;
}

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  border-bottom: none;
}

.sidenav {
  float: right;
  width: 12vw;
  height: 90vh;
  margin-bottom: 150px;

}

li {
  margin: 15px 15px 15px 60px;
}
/* about page  */

.min-vh-100 {
  min-height: 100vh;
}

.aboutstyle {
  margin: 30px 100px 100px 100px;
  width: 60vw;
}

.img-hover {
  border: 2px solid rgb(68, 63, 63);
  transition: border-color 0.3s ease-in-out;
}

.img-hover:hover {
  border-color: rgb(21, 222, 35);
}

a {
  text-decoration: none;
}

ul {
  position: fixed;
}

.enlarge-image {
  transition: all 0.2s ease-in-out;
}

.enlarge-image:hover {
  transform: scale(1.1);
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 50px 6;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.footer-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-content p {
  font-size: 16px;
  margin-bottom: 90px;
}

.social-icons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-icons li {
  margin-right: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  transition: color 0.2s ease-in-out;
}

.social-icons a:hover {
  color: #0077b5;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #000;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}

.footer-bottom p span {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: row; /* Example: Change nav layout on mobile */
    justify-content: space-around;
  }

  .sidenav {
    width: 100%; /* Full width on smaller screens */
    height: auto;
    margin-bottom: 50px;
  }

  .aboutstyle {
    margin: -80px; /* Adjust margin for mobile */
    width: 100%; /* Adjust width for mobile */
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-content h2,
  .footer-content p {
    text-align: center;
  }

  .social-icons li {
    margin-right: 10px;
  }

  /* Add any other responsive adjustments here */
}



.hamburger {
  display: none; 
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  position: fixed; /* Fixed position */
  z-index: 1501; /* Ensure it's above the .sidenav */
}

.line {
  width: 2rem;
  height: 0.25rem;
  background: white;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Show the hamburger icon on small screens */
  }

  .sidenav {
    position: fixed; /* Take out of normal flow */
    top: 0;
    right: 0;
    height: 60vh;
    background-color: #333; /* Whatever background color you want */
    opacity: 0.5; 
    width: 38%; /* How wide you want the sidebar */
    transform: translateX(100%); /* Hide off screen to the right */
    transition: transform 0.5s ease-in-out;
    border-top-left-radius: 50%;
    z-index: 1500;
    border-bottom-left-radius: 50%;
  }

  .sidenav.expanded {
    transform: translateX(0); /* Show sidebar */
  }

  .nav-item {
    display: block; /* Stack items vertically */
    text-align: center;
  }

  .nav-item a {
    display: block; /* Make links fill their container */
  }
}

