/* index.css */
body {
  margin: 0;
  font-family: 'monospaced', 'Roboto Mono', monospace; /* Monospaced font for coding feel */
  background-color: #f9f7f7; /* Darker background for code editor look */
  color: #abb2bf; /* Lighter text color for readability */
}
code {
  font-family: 'monospaced', 'Roboto Mono', monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
.portfolio-section {
  padding: 50px;
  background-color: #f8f8f8;
}
.text-center {
  text-align: center;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
